@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: 
        black 
        url(imagens/fundo-madeira.jpg) 
        no-repeat 
        top center;
    background-size: 
        cover;
}

main {
    width: 100vw;
    height: 100vh;
}

section#tela {
    background: url(imagens/frame-iphone.png);
    height: 630px; width: 310px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

section#tela iframe {
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

section#icons{
    text-align: right;
}

section#icons li {
    padding: 5px;
    padding-right: 25px;
}

section#icons ul {
    padding-top: 30px;
}

section#icons img {
    border-radius: 50%;
    width: 60px;
    border: 1px solid transparent;
}
section#icons img:hover {
    border: 1px solid white;
    transform: translate(-5px, -5px);
    transition: transform 0.3s, border 0.5s;
}